
@font-face {
  font-family: "catamaran-light";
  src: url("../assets/fonts/Catamaran-ExtraLight.ttf")
}
@font-face {
  font-family: "major";
  src: url("../assets/fonts/MajorMonoDisplay-Regular.ttf");
}

.content { grid-area: content; }
.menu { grid-area: footer; }

body {
  background: #fcfcfc;
}

.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: "content" "footer";
  grid-template-rows: 80vh 10vh;
  grid-template-columns: 1fr;
}

.title {
  font-family: catamaran-light;
  font-size: 28pt;
  animation: fadein 4s;
  text-align: center;
}

.subtitle1 {
  color: #333333;
}

.subtitle2 {
  opacity: 0.7;
  animation: fadein 5s infinite;
  font-size: 32pt;
  margin-left: 1rem;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0); 
  margin-top: -0.1rem;
}

.version {
  font-family: major;
  color: #222222;
  font-size: 10pt;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
